{
  "parser": "babel-eslint",
  "extends": "airbnb-base",
  "plugins": [
    "prettier"
  ],
  "rules": {
    "semi": ["error", "never"],
    "prettier/prettier": ["error"]
  },
  "env": {
    "browser": true
  },
  "globals": {}
}
