{
  "extends": "airbnb-base",
  "rules": {
    "no-console": 0,
    "no-debugger": 0,
    "max-len": ["error", 120, 2, {
      "ignoreUrls": true,
      "ignoreComments": false,
      "ignoreRegExpLiterals": true,
      "ignoreStrings": true,
      "ignoreTemplateLiterals": true
    }],
    "no-underscore-dangle": ["error", { "allow": true }]
  },
  "env": {
    "browser": true
  },
  "globals": {
    "coursesMetaConfig": true
  }
}
